pandas
scikit-learn
shap
fastapi
uvicorn
streamlit
openpyxl
joblib
pydantic
pytest
requests
supabase
python-dotenv
python-multipart
passlib[bcrypt]
pyjwt
fastapi-mail
psycopg2-binary
sqlalchemy
xgboost
email-validator
